<div class="row">
<div class="column">
<form method="post" action="http://localhost:5000/all" id="all">
  <input class="submit" type="submit" value="All users">
</form>
</div>

<div class="row">
<div class="column">
<form method="post" action="http://127.0.0.1:5000/login" id="login">
    <span>login</span>  : <input type="text" name="login"><br>
  <input class="submit" type="submit" value="Go">
</form>
</div>

<div class="row">
<div class="column">
<form method="post" action="http://127.0.0.1:5000/id" id="id">
    <span>id</span>  : <input type="text" name="id"><br>
  <input class="submit" type="submit" value="Go">
</form>
</div>
